{% extends 'base.html' %}
{% block title %} | Truck Booking {% endblock %}
{% block content %}
{% load static %}

<section id="home" class="welcome-hero">
  <div class="container" style="padding-top: 50px; padding-bottom: 50px">
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center vh-100">
          <div class="col">
            <br /><br id="register-box" /><br />
            <div class="col-lg-12">
              <div class="card" style="background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ddd; border-radius: 10px">
                <div class="card-header text-center">
                  <br><h1>Booking History{{ booking.id }}</h1>
                </div>
                <div class="card-body" style="margin: 15px">
                  <div class="row">
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                      {% endfor %}
                    {% endif %}
                    <div class="card-body" style="margin: 15px">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Model</th>
                                        <th>License Plate</th>
                                        <th>Driver</th>
                                        <th>Capacity</th>
                                        <th>Status</th>
                                        <th>Pick-up Location</th>
                                        <th>Destination</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for truck in booking.trucks.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ truck.truck_model }}</td>
                                        <td>{{ truck.license_plate }}</td>
                                        <td>{{ truck.driver.user.get_full_name }}</td>
                                        <td>{{ truck.capacity }}</td>
                                        <td>{{ truck.status }}</td>
                                        <td>{{ truck.pickup }}</td>
                                        <td>{{ truck.destination }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{% url 'go_home' %}" class="btn btn-primary">Return to Home</a>
                    </div>                    
                  </div>
                </div>      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
