<!-- Footer start -->

		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="{% url "go_home" %}">iTrucking</a>
								</div>
								<p>
									ITRUCKING is an evolving digital platform in the field of logistics and trucking. We are here to make it easy to order trucks online, ensuring the delivery of your goods is more efficient and safe. With various superior features, ITRUCKING is a trusted solution for businesses and individuals who need reliable transportation services.
								</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>About itrucking</h2>
								<div class="footer-contact">
									<p><i class="fa fa-envelope"> arzidanakbar0@gmail.com</i></p>
									<p><i class="fa fa-instagram"> itrucking.management</i></p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							{% comment %} <div class="single-footer-widget">
								<h2>top trucks</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
											<li><a href="#">Truck</a></li>
										</ul>
									</div>
								</div>
							</div> {% endcomment %}
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Add Email">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<span><i class="fa fa-arrow-right"></i></span>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright <a href="google.com">iTrucking</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->
<!-- Footer end -->
