{% extends 'base.html' %}

{% block title %} | Login {% endblock %}
{% block content %}
{% load static %}
<section id="home" class="welcome-hero">
    {% comment %} <div class="welcome-hero-txt"> {% endcomment %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-hero-txt card" style="background-color: #0000; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ddd; border-radius: 10px;">
                        <div class="card-header text-center">
                        </div>
                        <div class="card-body" style="margin: 15px;">
                            <h2>Sign Up</h2>
                            <p>
                                Want to be a driver? Register and wait for your message.
                            </p>
                            <button class="login-btn" onclick="window.location.href='{% url "login" %}'">login </button><br>
                            <button class="welcome-btn" onclick="window.location.href='{% url "register_customer" %}">Register as customer </button><br>
                            <button class="driver-btn" onclick="window.location.href='#register-box'">Register as driver </button><br>
                        </div>
                    </div>
                </div>
                <br id="register-box">
                <div class="col-lg-6" >
                    <div class="card" style="background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ddd; border-radius: 10px;">
                        <div class="card-header text-center">
                            <div class="logo-2">
                                <a href="#">
                                    <img src="{% static 'img/logos/PWF.gif' %}" alt="logo" class="img-fluid">
                                </a>
                            </div>
                            <h3>Register</h3>
                        </div>
                        <div class="card-body" style="margin: 15px;"  >
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="text-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="{% url 'register_driver' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group form-box">
                                    <label for="firstname" class="col-form-label">First Name</label>
                                    <input type="text" name="firstname" class="form-control" placeholder="What is your first name?" value="{{ request.session.firstname }}" required>
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="lastname" class="col-form-label">Last Name</label>
                                    <input type="text" name="lastname" class="form-control" placeholder="What is your last name?" value="{{ request.session.lastname }}" required>
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="username" class="col-form-label">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="What will be your username?" value = "{{ request.session.username }}" required>
                                    <i class="flaticon-user-2"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="What is your email?" value="{{ request.session.email }}" required>
                                    <i class="flaticon-mail"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="phone_number" class="col-form-label">Phone Number</label>
                                    <input type="tel" name="phone_number" class="form-control" placeholder="xxxx-xxxx-xxxx"  pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" value="{{ request.session.phone_number }}" required>
                                    <i class="flaticon-phone"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="id_card" class="col-form-label">ID Card</label>
                                    <input type="file" name="id_card" class="form-control" accept="image/png, image/jpg, image/jpeg" placeholder="Insert a photo of your ID Card" value="{{ request.session.id_card }}" required>
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="license_card" class="col-form-label">License Card</label>
                                    <input type="file" name="license_card" class="form-control" accept="image/png, image/jpg, image/jpeg" placeholder="Insert a photo of your License Card" value="{{ request.session.license_card }}" required>
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="password" class="col-form-label">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password has to be strong" required>
                                    <i class="flaticon-lock"></i>
                                </div>
                                <div class="form-group form-box">
                                    <label for="confirm_password" class="col-form-label">Confirm Password</label>
                                    <input type="password" name="confirm_password" class="form-control" placeholder="Re-Type your Password" required>
                                    <i class="flaticon-lock"></i>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="welcome-btn">Register</button>
                                </div>
                                <div class="extra-login clearfix mt-2 text-center">
                                    <span><p style="color: #000;">Already have an account? <a href="{% url 'login' %}" class="thembo" style="color: blue;"> Log in</a></p></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
</section>
{% endblock %}