{% extends 'base.html' %} {% block content %}
<div class="text-center">
  <h1 style="text-align: center; margin-top: 200px; margin-bottom: 200px; font-size: 50px">Checkup Face</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center">
      <video id="video" width="640" height="480" autoplay></video>
      <canvas id="canvas" width="640" height="480" style="display: none"></canvas>
      <input type="hidden" name="captured_image" id="captured_image" />
      <img id="capturedImage" src="#" alt="Captured Image" style="display: none; margin-top: 20px" />
    </div>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary" onclick="captureImage()">Capture</button>
      <button type="submit" class="btn btn-primary" name="checkup">Checkup</button>
      <button type="submit" class="btn btn-primary" name="next">Next</button>
    </div>
    {% include 'includes/topbar.html' %} {% include 'includes/navbar.html' %}
  </form>

  {% if uploaded_file_url %}
  <h2>Analysis Result</h2>
  <div class="text-center" style="position: relative; display: inline-block">
    <img src="{{ uploaded_file_url }}" alt="Captured Image" style="margin-top: 20px" />
    <div class="result">{{ result }}</div>
  </div>
  {% endif %}

  <script>
    function captureImage() {
      var video = document.getElementById("video");
      var canvas = document.getElementById("canvas");
      var context = canvas.getContext("2d");
      context.drawImage(video, 0, 0, 640, 480);
      var dataURL = canvas.toDataURL("image/png");
      document.getElementById("captured_image").value = dataURL;

      var capturedImage = document.getElementById("capturedImage");
      capturedImage.src = dataURL;
      capturedImage.style.display = "block";
      capturedImage.style.margin = "0 auto"; // Tambahkan ini untuk memusatkan gambar
    }

    navigator.mediaDevices
      .getUserMedia({ video: true })
      .then(function (stream) {
        var video = document.getElementById("video");
        video.srcObject = stream;
      })
      .catch(function (err) {
        console.log("Error: " + err);
      });
  </script>
</div>
{% endblock %}
