{% extends 'base.html' %}

{% block title %}Manual Data Input{% endblock %}

{% block content %}
{% load static %}
<div style="border: 10px solid black;">
    <h1 style="text-align: center; margin-top: 200px; font-size: x-large;">Manual Truck Condition Check</h1>
    <p style="text-align: center;">Please Enter the data manually in the form Below</p>
    <div style="text-align: center;">
        <form method="post" id="manual-input-form" style="display: inline-block; text-align: left;">
            {% csrf_token %}
            <div id="input-rows">
                <!-- Initial row -->
                <div class="input-row">
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.ALTITUDE.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.ALTITUDE }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.ENGINE_LOAD.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.ENGINE_LOAD }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.BAROMETRIC_PRESSURE.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.BAROMETRIC_PRESSURE }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.ENGINE_COOLANT_TEMP.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.ENGINE_COOLANT_TEMP }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.AMBIENT_AIR_TEMP.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.AMBIENT_AIR_TEMP }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.ENGINE_RPM.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.ENGINE_RPM }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.INTAKE_MANIFOLD_PRESSURE.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.INTAKE_MANIFOLD_PRESSURE }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.MAF.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.MAF }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.AIR_INTAKE_TEMP.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.AIR_INTAKE_TEMP }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.SPEED.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.SPEED }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.THROTTLE_POS.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.THROTTLE_POS }}</span></div>
                    <div class="form-group"><span style="display: inline-block; width: 300px;">{{ form.ENGINE_RUNTIME.label_tag }}</span> <span style="display: inline-block; width: 100px;">{{ form.ENGINE_RUNTIME }}</span></div>
                    <button type="button" class="delete-button original-row" disabled>Delete</button>
                </div>
                <hr /> <!-- Horizontal line to separate rows -->
            </div>
           
            {{ form.TRUCK_SELECT.label_tag }} {{ form.TRUCK_SELECT }}<br><!-- Truck select dropdown -->
            <button type="button" onclick="addRow()">Add Row</button>
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if error_message %}
    <div style="color: red; text-align: center;">Error: {{ error_message }}</div>
    {% endif %}

    {% if data_to_display %}
    <hr />
    <h1 style="text-align: center;">Your Last Results Were:</h1>

    {% if maintenance_status and maintenance_status != "Vehicle condition is good." %}
    <hr />
    <h1 style="text-align: center;">Outlier Rows</h1>
    <div style="text-align: center;">{{ data_to_display|safe }}</div>

    {% if column_averages %}
    <hr />
    <h2 style="text-align: center;">Column Averages</h2>
    <div style="display: flex; justify-content: center;">
    <ul style="list-style-type: none; padding: 0; text-align: left; display: inline-block;">
        {% for column, average in column_averages.items %}
       <li><span style="display: inline-block; width: 300px;">{{ column }}</span>: <span style="display: inline-block; width: 150px;">
            {% if column == "ALTITUDE" %}{{ average }}{% endif %}
            {% if column == "ENGINE_LOAD" %}{{ average }}%{% endif %}
            {% if column == "BAROMETRIC_PRESSURE" %}{{ average }} kPa{% endif %}
            {% if column == "INTAKE_MANIFOLD_PRESSURE" %}{{ average }} kPa{% endif %}
            {% if column == "THROTTLE_POS" %}{{ average }}%{% endif %}
            {% if column == "MAF" %}{{ average }} g/s{% endif %}
            {% if column == "SPEED" %}{{ average }} km/h{% endif %}
            {% if column == "ENGINE_RPM" %}{{ average }}RPM{% endif %}
            {% if column == "ENGINE_COOLANT_TEMP" %}{{ average }} °C{% endif %}
            {% if column == "AMBIENT_AIR_TEMP" %}{{ average }} °C{% endif %}
            {% if column == "AIR_INTAKE_TEMP" %}{{ average }} °C{% endif %}
            {% if column == "ENGINE_RUNTIME" %}
                {{average}} seconds
            {% endif %}
            </span>
        </li> <br>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endif %}

    <hr />
    <h2 style="text-align: center;">Maintenance Status</h2>
    <p style="text-align: center;">
        {% if maintenance_status == "Vehicle condition is good. Status: Good" %}
        <span style="color: green;">{{ maintenance_status }}</span>{% endif %}
        {% if maintenance_status == "The vehicle needs maintenance. Status: Moderate" %}
        <span style="color: yellow;">{{ maintenance_status }}</span>{% endif %}
        {% if maintenance_status == "The vehicle desperately needs maintenance. Status: Severe" %}
        <span style="color: red;">{{ maintenance_status }}</span>{% endif %}
    </p>
    {% else %}
    <h1 style="text-align: center;">You Haven't Entered Data Yet, Please Enter Data so that the results can be displayed here</h1>
    {% endif %}
    <div style="text-align: center;">
        <a href="{% url 'download_test_case_excel' %}" download>Download Test Case Excel</a><br>
        <a href="{% url 'maintenance_page' %}">Upload Display Excel</a>
    </div>
</div>

<script>
    function addRow() {
        const form = document.getElementById('manual-input-form');
        const newRow = document.querySelector('.input-row').cloneNode(true);
        const inputs = newRow.querySelectorAll('input, select');
        inputs.forEach(input => {
            if (input.getAttribute('name') !== 'TRUCK_SELECT') { // Skip truck_select
                input.value = ''; // Clear the input fields
                const name = input.getAttribute('name');
                if (name) {
                    const newName = name.replace(/\d+/, function (match) {
                        return parseInt(match) + 1; // Increment the index for new row
                    });
                    input.setAttribute('name', newName);
                }
            } else {
                input.remove(); // Remove the truck_select dropdown
            }
        });
        const deleteButton = newRow.querySelector('.delete-button');
        deleteButton.disabled = false;
        deleteButton.classList.remove('original-row');
        deleteButton.setAttribute('onclick', 'deleteRow(this)');
        document.getElementById('input-rows').appendChild(newRow);
        document.getElementById('input-rows').appendChild(document.createElement('hr'));
    }

    function deleteRow(button) {
        if (!button.classList.contains('original-row')) {
            const row = button.parentElement;
            const hr = row.nextElementSibling;
            row.parentNode.removeChild(row);
            // Remove the horizontal line after the deleted row
            if (hr && hr.tagName === 'HR') {
                hr.parentNode.removeChild(hr);
            }
        }
    }
</script>
{% endblock %}
