{% extends 'base.html' %}

{% block title %}Maintenance Page{% endblock %}

{% block content %}
<h1>Push it down</h1>
<h1>Push it down</h1>
<h1>Push it down</h1>
<h1>Push it down</h1>
<h1>Push it down</h1>
<h1>Push it down</h1>
<h1>Upload Excel File</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if error_message %}
<div style="color: red;">Error: {{ error_message }}</div>
{% endif %}

{% if data_to_display %}
<hr />
<h2>Processed Data</h2>
<div>{{ data_to_display|safe }}</div>
{% endif %}

{% if data %}
<hr />
{% endif %}
{% endblock %}
