{% extends 'base.html' %} {% block title %} | Truck Booking {% endblock %} {% block content %} {% load static %}
<head>
    <style>
        body {
            font-family: Arial;
        }

        #map-layer {
            position: fixed; /* or absolute, depending on your use case */
            top: 0;
            left: 0;
            nav-right: 0;
            width: 75vw; /* Full width of the viewport */
            height: 50vw; /* Full height of the viewport */
            display: flex; /* Flexbox layout */

}

    </style>
</head>
<body>
    <section id="home" class="welcome-hero">
        {% comment %} <div class="welcome-hero-txt"> {% endcomment %}
        <br><br><br><br><br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center vh-100">
                    <div class="col">
                    <br><br id="register-box"><br>
                    <div class="col-lg-12" >
                        <div id="map-layer"></div>
                            <div class="card-body" style="margin: 15px;"  >
                                <div class="row">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="text-danger">
                                            {{ message }}
                                        </div>
                                        
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    </section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqdGM_QrOaQIn1wTPKrCrUW9jRkH7gWs&callback=initMap"
        async defer></script> <!-- Replace YOUR_API_KEY with your actual Google Maps API key -->

<script>
    function initMap() {
        var mapLayer = document.getElementById("map-layer");
        var centerCoordinates = new google.maps.LatLng(-33.890541, 151.274857);
        var defaultOptions = { center: centerCoordinates, zoom: 10 };

        var map = new google.maps.Map(mapLayer, defaultOptions);

    }
    
</script>
</body>
</html>

{% endblock %}