html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  cursor: pointer;
  color: #ffffff;
}

a:hover {
  color: #70e1fb;
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
}

strong {
  color: #ffffff;
}

span {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

#page_scroller {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    cursor: pointer;
    color: #fff;
    padding: 10px 11px;
    font-size: 12px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    z-index: 1000 !important;
  }
